{% extends "base_nosearch.html" %} {% block content %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <h1>About</h1>
    <br />
    <p>
      This website allows students at Central Washington University  to rate and review the various dining
      options on the CWU Ellensburg campus. It was designed as
      a group project for CS380, Introduction to Software Engineering. This site was created by:
    </p>
    <br />
    <div class="card">
      <!-- <img src="CWU_wordmark.png" alt="Avatar" style="width: 100%" /> -->
      <div class="container">
        <h4><b>Abdiasis Abdi</b></h4>
        <p>CS Major</p>
      </div>
    </div>
    <br />
    <div class="card">
      <!-- <img src="CWU_wordmark.png" alt="Avatar" style="width: 100%" /> -->
      <div class="container">
        <h4><b>Ibrahim Sydock </b></h4>
        <p>CS Major & Art Minor</p>
      </div>
    </div>
    <br />
    <div class="card">
      <!-- <img src="CWU_wordmark.png" alt="Avatar" style="width: 100%" /> -->
      <div class="container">
        <h4><b>Nathnael Seleba</b></h4>
        <p>CS Major & Math Minor</p>
      </div>
    </div>
    <br />
    <div class="card">
      <!-- <img src="CWU_wordmark.png" alt="Avatar" style="width: 100%" /> -->
      <div class="container">
        <h4><b>Ryan Angliss </b></h4>
        <p>CS Major & Math Minor</p>
      </div>
    </div>
    <br />
    <div class="card">
      <!-- <img src="CWU_wordmark.png" alt="Avatar" style="width: 100%" /> -->
      <div class="container">
        <h4><b>Ryan G</b></h4>
        <p>CS Major</p>
      </div>
    </div>
    <br />

    <div class="card">
      <!-- <img src="CWU_wordmark.png" alt="Avatar" style="width: 100%" /> -->
      <div class="container">
        <h4><b>Tafesswork Tafesse</b></h4>
        <p>CS Major & Math Minor</p>
      </div>
    </div>
    <br />
  </body>
</html>
{% endblock %}
