{% extends "base_nosearch.html" %} {% block content %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <br />
    <p>
      This website allows students at CWU to rate and review the various dining
      options on the CWU Ellensburg campus. It was designed as a group project
      for CS380 Introduction to Software Engineering. This site was created by:
    </p>
    <br />
    <div class="card">
      <img src="images/img_avatar.jpg" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Abdiasis Abdi</b></h4>
        <p>CS Major</p>
        <p>Email: <a href = "#"> abdiabdia@cwu.edu </p> </a>
        <p>Git: <a href="https://github.com/abdiasis"> abdiasis</p></a>

      </div>
    </div>
    <br />
    <div class="card">
      <img src="images/img_avatar.jpg" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Ibrahim Sydock </b></h4>
        <p>CS Major & Art Minor</p>
        <p>Email: <a href = "#">  sydockI@cwu.edu</p></a>
        <p>Git: <a href="https://github.com/sharktrexer"> sharktrexer</p></a>
      </div>
    </div>
    <br />
    <div class="card">
      <img src="images/img_avatar.jpg" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Nathnael Seleba</b></h4>
        <p>CS Major & Math Minor</p>
        <p>Email: <a href = "#"> SelebaN@cwu.edu</p></a>
        <p>Git: <a href="https://github.com/Nathnael7"> Nathnael7</p></a>
      </div>
    </div>
    <br />
    <div class="card">
      <img src="images/img_avatar.jpg" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Ryan Angliss </b></h4>
        <p>CS Major & Math Minor</p>
        <p>Email: <a href = "#"> anglissr@cwu.edu</p></a>
        
        <p>Git: <a href="https://github.com/anglissr"> anglissr</p></a>
      </div>
    </div>
    <br />
    <div class="card">
      <img src="images/img_avatar.jpg" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Ryan G</b></h4>
        <p>CS Major</p>
        <p>Email: <a href = "#"> GolobRyan.Golob@cwu.edu</p></a>       
        <p>Git: <a href="#"> #</p></a>
        
     
      </div>
    </div>
    <br />

    <div class="card">
      <img src="images/img_avatar.jpg" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Tafesswork Tafesse</b></h4>
        <p>CS Major & Math Minor</p>
        <p>Email: <a href = "#"> Tafesswork.tafesse@cwu.edu</p></a>              
        <p>Git:<a href="https://github.com/taf3sse"> taf3sse</p></a>
      </div>
    </div>
    <br />
    <br />
    <div class="container">
      <div style="text-align: center">
        <h2>Contact Us</h2>
        <p>
          Please leave us a review if you have any improvements you would like to see:
        </p>
      </div>
      <br />
      <div class="row">
        <div class="column">
          <img src="images/cwu-featured.jpg" height="120" width="580" />
        </div>
        <div class="column">
          <form action="/action_page.php">
            <label for="fname">First Name</label>
            <input
              type="text"
              id="fname"
              name="firstname"
              placeholder="Your name.."
              class="about"
            />
            <label for="lname">Last Name</label>
            <input
              type="text"
              id="lname"
              name="lastname"
              placeholder="Your last name.."
              class="about"
            />
            <label for="country">Who you are: </label>
            <select id="country" name="country">
              <!-- <option value="australia">Australia</option> -->
              <option value="canada">Student</option>
              <option value="usa">Faculty</option>
            </select>
            <textarea
              id="subject"
              name="subject"
              placeholder="Write your review here..."
              style="height: 170px"
              class="about"
            ></textarea>
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
    <br />
  </body>
</html>
{% endblock %}
