{% extends "base_nosearch.html" %}

{% block content %}
		<h2>{{ restaurant.name }}</h2>
    
    {% if restaurant.get_reviews == 0 %}
      <p style="color: gray;"> No user reviews yet...</p>
    {% endif %}

    {% if restaurant.get_reviews < 2 and restaurant.get_reviews > 0%}
      <p style="color: gray;"> Average user rating: <span style="color: #ff6666">{{ restaurant.get_reviews }} </span></p>
    {% endif %}
    
    {% if restaurant.get_reviews > 2 and restaurant.get_reviews < 4 %}
      <p style="color: gray;"> Average user rating: <span style="color: #ffcc00">{{ restaurant.get_reviews }} </span></p>
    {% endif %}
    
    {% if restaurant.get_reviews > 4 %}
      <p style="color: gray;"> Average user rating: <span style="color: #00cc66">{{ restaurant.get_reviews }} </span></p>
    {% endif %}
    
    <br> 
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br>
    {% if reviews %}
      {% for review in reviews %}
      <div style="padding-top: 25px;">
          <div class="card" style="width: 600px;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Username</h6>
              <p class="card-subtitle mb-2 text-muted" style="font-size: 14px;">Rating: {{ review.rating }}</p>
              <p class="card-text">{{ review.text }}</p>
              <p class="card-text"><small class="text-muted" style="font-size: 11px;">Reviewed on {{ review.date }}</small></p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>There are no reviews for {{ restaurant.name }}. Add yours now!</p>

    {% endif %}

{% endblock %}