{% extends "base_search.html" %}

{% block content %}
		<h2>{{ restaurant.name }}</h2>
    
    {% if restaurant.get_reviews == 0 %}
      <p style="color: gray;"> No user reviews yet...</p>
    {% endif %}

    {% if restaurant.get_reviews < 2 and restaurant.get_reviews > 0%}
      <p style="color: gray;"> Average user rating: <span style="color: #ff6666">{{ restaurant.get_reviews }} </span></p>
    {% endif %}
    
    {% if restaurant.get_reviews > 2 and restaurant.get_reviews < 4 %}
      <p style="color: gray;"> Average user rating: <span style="color: #ffcc00">{{ restaurant.get_reviews }} </span></p>
    {% endif %}
    
    {% if restaurant.get_reviews > 4 %}
      <p style="color: gray;"> Average user rating: <span style="color: #00cc66">{{ restaurant.get_reviews }} </span></p>
    {% endif %}
    
    <p>{{restaurant.description}}</p>
     
    <form method="post">
      {% csrf_token %}
      <!--Show username if logged in, else show as Anonymous-->
      {% if user.is_authenticated %}
      <label>Logged in as: </label>
      <a href="{% url 'account' %}">{{ user.get_username }}</a>
      {% else %}
      <label style="font-weight: bold;">You will be posting this review anonymously. </label>    
      <a href="{% url 'signup' %}">Click here to create an account</a>
      <label>or </label>
      <a href="{% url 'login'%}?next={{request.path}}">click here to login!</a>      
      {% endif %}
      <!--Display form values for the user to input (username info is already handled inside the form view)-->
      <td>{{ form.text }}</td>
      <small style="color: grey">{{ form.text.help_text }}</small>
      <br>
      <td>{{ form.rating }}</td>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    
    {% if reviews %}
      {% for review in reviews %}
      <div style="padding-top: 25px;">
          <div class="card" style="width: 600px;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted"> {{ review.username }}</h6>
              <p class="card-subtitle mb-2 text-muted" style="font-size: 14px;">Rating: {{ review.rating }}</p>
              <p class="card-text">{{ review.text }}</p>
              <p class="card-text"><small class="text-muted" style="font-size: 11px;">Reviewed on {{ review.date }}</small></p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <br>
      <p>There are no reviews for {{ restaurant.name }}. Add yours now!</p>

    {% endif %}

{% endblock %}