{% extends "base_nosearch.html" %}

{% block content %}
    <h2>Dining Options</h2>
    <br>
    
    <h4>Restaurants</h4>
    <!-- List of restaurants -->
    {% if restaurantsRestaurant %}
    <ul>
      {% for restaurant in restaurantsRestaurant %}
        <li>
          <a href="{{ restaurant.get_absolute_url }}">{{ restaurant.name }}</a> ({{restaurant.description}})
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no restaurants</p>
    {% endif %}


    <br>
    <h4>Cafés</h4>
    <!-- List of cafes -->
    {% if restaurantsCafe %}
    <ul>
      {% for restaurant in restaurantsCafe %}
        <li>
          <a href="{{ restaurant.get_absolute_url }}">{{ restaurant.name }}</a> ({{restaurant.description}})
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no cafes</p>
    {% endif %}

  
    <br>
    <h4>Markets</h4>
    <!-- List of markets -->
    {% if restaurantsMarket %}
    <ul>
      {% for restaurant in restaurantsMarket %}
        <li>
          <a href="{{ restaurant.get_absolute_url }}">{{ restaurant.name }}</a> ({{restaurant.description}})
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no markets</p>
    {% endif %}

{% endblock %}