{% extends "base_nosearch.html" %} 

{% block content %} 

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %} 
{% if next %} 
{% if user.is_authenticated %}
<p>
  Your account doesn't have access to this page. To proceed, please login with
  an account that has access.
</p>
{% else %}
{% endif %} {% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>

  <button type="submit" value="Login" class="btn btn-success">Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<!--Need to add an email config line to test in settings.py-->
{# Assumes you set up the password_reset view in your URLconf #}
<br>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

<p>
  <label>Don't have an account? </label>
  <a href="{% url 'signup' %}">Click here to create one!</a>
</p>

{% endblock %}
